* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

section {
    width: 650px;
    margin: auto;
    text-align: left;
    overflow-y: hidden;
    padding: 40px;
    margin-top: 40px;
}

#logo {
    width: 300px;
    margin-left: 0;
}

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-weight: 700;
}

h4 {
    color: #5c5b63;
    font-size: 20px;
    font-weight: 500;
}

footer {
    width: 100%;
    margin: auto;
    text-align: left;
    overflow-y: hidden;
    background-color: #f3f2fa;
    position: fixed;
    bottom: 0;
}

#footer-contents {
    width: 650px;
    margin: auto;
    padding: 40px;
    padding-bottom: 20px;
}



p {
    color: #5c5b63;
    font-size: 16px;
    margin-top: 0px;
}

#RTO-number {
    color: #9c9aa8;
    font-size: 12px;
    margin-top: 20px;
}

@media only screen and (max-width: 660px) {
 
    section, #footer-contents {
        width: 100%;
        padding: 30px;
    }

    #logo {
        width: 60%;
    }

    h1 {
        font-size: 33px;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 26px;
    }

    
    h4 {
        font-size: 16px;
    }

    p  {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 22px;
    }

    
    h4 {
        font-size: 14px;
    }

    p  {
        font-size: 14px;
    }
}