* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
}

h4 {
    line-height: 1.25em;
    overflow-y: hidden;
}

p, ul{
    color: #595766;
    margin-top: 0px;
}

li {
    display: list-item;
    margin-top: 5px;
    list-style-type: armenian;
}

section {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 60px;
    width: 650px;
}

#page-title {
    font-size: 80px;
    margin-bottom: 0px;
}

#page-title-section {
    margin-top: 80px;
}

#page-title-section p {
    margin: auto;
    margin-bottom: 20px;
}

#message-form {
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 30px;
    border: 1.5px solid #c9c8d3;
}

input, textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
    transition: 0.2s;
    outline: none;
    background-color: #e6fcfc;
    border: none;
    border-bottom: 1px solid #1FCED1;
}

input {
    height: 30px;
}

textarea:focus, input:focus {
    border: 1.5px solid #1FCED1;
    outline:none;
}

label {
    font-weight: 700;
    margin-top: 0;
    display: inline-block;
}

#send-button {
    display: block;
    width: auto;
    margin-top: 30px;
    background-color: #1FCED1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    transition: 0.2s;
}

#send-button:hover {
    background-color:  #04b8bb;
}

section a {
    font-weight: 700;
    color: #1FCED1;
}

section a:hover {
    color: #04b8bb;
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h2 i {
        font-size: 23px;
        font-weight: 900;
    }
    
    h4 {
        font-size: 17px;
    }

    p  {
        font-size: 15px;
    }
}