* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44px;
    margin-bottom: 0em;
    font-weight: 700;
}

h1 i {
    font-weight: 800;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 i {
    font-size: 30px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
}

h3 i {
    font-weight: 800;
    font-size: 20px;
}

h4 {
    line-height: 1.25em;
    overflow-y: hidden;
}

p, ul{
    color: #595766;
    margin-top: 0px;
}

li {
    display: list-item;
    margin-top: 5px;
    list-style-type: armenian;
}


/* ================================= 
  Alert
==================================== */
#alert-and-menu-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#alert-above-nav {
    background-color: #1FCED1;
    text-align: center;
    padding: 10px;
    display: flex;
    height: 50px;
    width: 100%;

}

#alert-above-nav p {
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    margin: auto;
    font-size: 14px;
}

#x-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    background-color: white;
    min-height: 20px;
    min-width: 20px;
    border-radius: 100%;
    padding: 4px;
    margin: auto;
}

#x-container:hover {
    background-color: #04b8bb;
}

/* ================================= 
  Navbar
==================================== */

nav {
	background-color: white;
    display: block;
    height: 70px;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid grey;
}

/* Selects all children within nav*/
nav * {
    display: inline-block;

}

#nav-link-container {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    float: right;
    
}

.nav-link {
    text-decoration: none;
    margin-right: 55px;
    margin-bottom: 8.5px;
    cursor: pointer;
    color: black;
}

nav a {
    font-family: "Poppins", sans-serif;
}

nav a:hover {
	color: #1FCED1;
	transition: 0.3s;
}

nav a:not(:hover) {
    background-color: none;
    transition: 0.3s;
}

#login {
    color: white;
    margin-top: 14px;
    background-color: #1FCED1;
    padding: 10px 22px;
    transition: 0.3s;
}

#login:hover {
    background-color: #04b8bb;
}

#logo {
    margin-top: 6px;
    margin-left: 4.8%;
    width: 100px;
}

#logo:hover {
    opacity: 0.8;
}

#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
}

.mobile-nav-link {
    display: none;
}

section {
    margin: 50px auto;
    text-align: center;
}

#page-title {
    font-size: 100px;
}

#page-title-section {
    margin-top: 120px;
    width: 700px;
}

#page-title-section p {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

#login-form {
    margin: 100px auto;
    margin-bottom: 150px;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border: 1.5px solid #c9c8d3;
}

#alffie-logo {
    width: 150px;
    margin-left: -5px;
    margin-bottom: 20px;
}

.email-password-label {
    font-weight: 700;
}


.email-password-input {
    display: block;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    transition: 0.2s;
    outline:none;
    background-color: #b6eded;
    border: none;
}

.email-password-input:focus {
    border: 1.5px solid #1FCED1;
    outline:none;
}

#password-label {
    margin-top: 30px;
}

#show-password-checkbox {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#show-password-label {
    display: inline-block;
}

label {
    margin-top: 0;
    display: inline-block;
}

#login-button {
    display: block;
    width: auto;
    margin-top: 30px;
    background-color: #1FCED1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    transition: 0.2s;
}

#login-button:hover {
    background-color:  #04b8bb;
}

#forgot-your-password {
    display: block;
    margin-top: 15px;
    color: #1FCED1;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

#forgot-your-password:hover {
    color: #04b8bb;
    text-decoration: underline;
}


/* Footer */

footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #272633;
    color: white;
    text-align: center;
}

footer h3, footer p, footer div a {
    color: white;
    margin: auto;
    max-width: 95%;
    margin-bottom: 15px;
}

#footer-logo-white {
    width: 200px;
}

#footer-RTO-number {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.65;
}

#footer-link-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-link-column {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    vertical-align: top;
    min-width: 120px;
}

.footer-link-child {
    display: block;
    font-size: 14px;
    color: #c9c8d3;
    margin-top: 10px;
    font-weight: 300;
}

footer a:hover {
    color: #1FCED1;
}

.social-media-logo-link {
    margin: 1em;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {

    #footer-link-container {
        width: 530px;
    }
}

@media only screen and (max-width: 768px) {

    #footer-link-container {
        width: 500px;
        margin: auto;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h2 i {
        font-size: 23px;
        font-weight: 900;
    }
    
    h4 {
        font-size: 17px;
    }

    p  {
        font-size: 15px;
    }

    p{
        font-size: 12px;
    }

    #footer-logo-white {
        width: 150px;
    }

    footer a {
        font-size: 16px;
        margin: 10px;
    }

    #footer-link-container {
        max-width: 95%;
    }
    
    .footer-link-column:nth-child(2)  {
        margin-left: 20px;
    }
}