* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44px;
    margin-bottom: 0em;
    font-weight: 700;
}

h1 i {
    font-weight: 800;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 i {
    font-size: 30px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
}

h3 i {
    font-weight: 800;
    font-size: 20px;
}

h4 {
    line-height: 1.25em;
    overflow-y: hidden;
}

p, ul{
    color: #595766;
    margin-top: 0px;
}

li {
    display: list-item;
    margin-top: 5px;
    list-style-type: armenian;
}

#login {
    color: white;
    margin-top: 14px;
    background-color: #1FCED1;
    padding: 10px 22px;
    transition: 0.3s;
}

#login:hover {
    background-color: #04b8bb;
}

#logo {
    margin-top: 6px;
    margin-left: 4.8%;
    width: 100px;
}

#logo:hover {
    opacity: 0.8;
}

#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
}

.mobile-nav-link {
    display: none;
}

section {
    margin: 50px auto;
    text-align: center;
}

#page-title {
    font-size: 100px;
}

#page-title-section {
    margin-top: 120px;
    width: 700px;
}

#page-title-section p {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

#login-form {
    margin: 100px auto;
    margin-bottom: 150px;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border: 1.5px solid #c9c8d3;
}

#alffie-logo {
    width: 150px;
    margin-left: -5px;
    margin-bottom: 20px;
}

.email-password-label {
    font-weight: 700;
}


.email-password-input {
    display: block;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    transition: 0.2s;
    outline:none;
    background-color: #b6eded;
    border: none;
}

.email-password-input:focus {
    border: 1.5px solid #1FCED1;
    outline:none;
}

#password-label {
    margin-top: 30px;
}

#show-password-checkbox {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#show-password-label {
    display: inline-block;
}

label {
    margin-top: 0;
    display: inline-block;
}

#login-button {
    display: block;
    width: auto;
    margin-top: 30px;
    background-color: #1FCED1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    transition: 0.2s;
}

#login-button:hover {
    background-color:  #04b8bb;
}

#forgot-your-password {
    display: block;
    margin-top: 15px;
    color: #1FCED1;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

#forgot-your-password:hover {
    color: #04b8bb;
    text-decoration: underline;
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h2 i {
        font-size: 23px;
        font-weight: 900;
    }
    
    h4 {
        font-size: 17px;
    }

    p  {
        font-size: 15px;
    }
}