* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 i {
    font-size: 30px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
}

h4 {
    line-height: 1.25em;
    overflow-y: hidden;
}

p, ul{
    color: #595766;
    margin-top: 0px;
}

li {
    display: list-item;
    margin-top: 5px;
    list-style-type: armenian;
}

section {
    margin: auto;
    text-align: center;
    overflow-y: hidden;
}

#page-title {
    font-size: 100px;
    margin-bottom: 0px;
}

#page-title-section {
    width: 500px;
    max-width: 95%;
    margin: 100px auto 20px;
}

#course-filter-section {
    margin-top: 0px;
    margin-bottom: 20px;
}

.filter-courses-button {
    color: #1FCED1;
    width: auto;
    padding: 0.5em 1em;
    margin: 10px;
    display: inline-block;
    outline: 1.5px;
    outline-style: solid;
    outline-color: #1FCED1;
    font-weight: 800;
    margin-top: 1em;
    transition: 0.3s;
    cursor: pointer;
}

.filter-courses-button:hover {
    color: #04b8bb;
    outline-color: #04b8bb;
    background-color: #b6eded;
    transition: 0.3s;
}

#course-section {
    text-align: center;
    width: 1700px;
    max-width: 90%;
}

.course {
    margin-bottom: 30px;
    margin: auto;
    width: 500px;
    margin-bottom: 100px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.vertical-divider-line {
    border-left: 1px solid  #c9c8d3;
    vertical-align: top;
    height: 700px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 100px;
}

.vertical-divider-line:nth-child(6n) {
    display: none;
}

.course-image {
    background-color:  #c9c8d3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-bottom: 16px;
}

.course-new-text {
    color: #FC53A5;
    font-weight: 700;
}

.course-certificate-text {
    margin-top: 0px;
    font-size: 22px;
    font-weight: 500;
}

.course-name {
    margin-top: -8px;
    font-size: 38px;
}

.course-name-medium {
    font-size: 35px;
}

.course-name-long {
    margin-top: 0px;
    font-size: 28px;
    line-height: 1.2;
    overflow: hidden;
}

.course-price {
    margin: 0px;
    margin-bottom: 10px;
}

.nrt-logo {
    display: inline-block;
    margin-left: 30px;
    width: 15%;
    vertical-align: top;
}

.course-description {
    display: block;
}

.learn-more {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #1FCED1;
    transition: 0.3s;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #04b8bb;
}

.download-brochure {
    font-size: 18px;
    font-weight: 700;
    color: #1FCED1;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    transition: 0.2;
    margin-bottom: 10px;
}

.download-brochure:hover {
    color: #04b8bb;
}

#supply-chain-image {
    background-image: url("images/Courses/supply-chain-500px.jpg");
}

#edu-support-image {
    background-image: url("images/Courses/edu-support-500px.jpg");
}

#recordkeeping-image {
    background-image: url("images/Courses/recordkeeping-500px.jpg");
}

#retail-image {
    background-image: url("images/Courses/retail-500px.jpg");
}

#b2b-image {
    background-image: url("images/Courses/b2b-500px.jpg");
}

#home-community-image {
    background-image: url("images/Courses/home-community-500px.jpg");
}

#ageing-image {
    background-image: url("images/Courses/ageing-500px.jpg");
}

#disability-image {
    background-image: url("images/Courses/disability-500px.jpg");
}

#community-services-image {
    background-image: url("images/Courses/comm-services-500px.jpg");
}

#tourism-image {
    background-image: url("images/Courses/tourism-500px.jpg");
}

#hospitality-image {
    background-image: url("images/Courses/hospitality-500px.jpg");
}

#cleaning-operations-image {
    background-image: url("images/Courses/cleaning-500px.jpg");
}

#customer-engagement-image {
    background-image: url("images/Courses/customer-engagement-500px.jpg");
}

#business-image {
    background-image: url("images/Courses/business-500px.jpg");
}

@media only screen and (max-width: 1700px) {
    .vertical-divider-line:nth-of-type(2n-1) {
        display: none;
    }
}


@media only screen and (max-width: 1205px) {
    .course {
        display: block;
    }

    .vertical-divider-line {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    
    #page-title {
        font-size: 18vw;
    }
 
    .course {
        width: auto;
    }

    .course-image {
        width: auto;
    }

    .course-certificate-text {
        font-size: 16px;
    }

    .course-name {
        font-size: 36px;
    }

    .course-name-medium {
        font-size: 28px;
    }

    .course-name-long {
        font-size: 24px;
    }
    
    .course-feature-title, h4 {
        font-size: 17px;
    }

    p, .course-code, .course-new-text, .course-description {
        font-size: 15px;
        width: auto;
    }

    .learn-more, .download-brochure {
        font-size: 15px;
    }

}