* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44px;
    margin-bottom: 0em;
    font-weight: 700;
}

h1 i {
    font-weight: 800;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 i {
    font-size: 30px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
}

h3 i {
    font-weight: 800;
    font-size: 20px;
}

h4 {
    line-height: 1.25em;
    overflow-y: hidden;
}

p, ul{
    color: #595766;
    margin-top: 0px;
}

li {
    display: list-item;
    margin-top: 5px;
    list-style-type: armenian;
}


/* ================================= 
  Alert
==================================== */
#alert-and-menu-container {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#alert-above-nav {
    background-color: #1FCED1;
    text-align: center;
    padding: 10px;
    display: flex;
    height: 50px;
    width: 100%;

}

#alert-above-nav p {
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-weight: 500;
    margin: auto;
    font-size: 14px;
}

#x-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    background-color: white;
    min-height: 20px;
    min-width: 20px;
    border-radius: 100%;
    padding: 4px;
    margin: auto;
}

#x-container:hover {
    background-color: #04b8bb;
}

/* ================================= 
  Navbar
==================================== */

nav {
	background-color: white;
    display: block;
    height: 70px;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid grey;
}

/* Selects all children within nav*/
nav * {
    display: inline-block;

}

#nav-link-container {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    float: right;
    
}

.nav-link {
    text-decoration: none;
    margin-right: 55px;
    margin-bottom: 8.5px;
    cursor: pointer;
    color: black;
}

nav a {
    font-family: "Poppins", sans-serif;
}

nav a:hover {
	color: #1FCED1;
	transition: 0.3s;
}

nav a:not(:hover) {
    background-color: none;
    transition: 0.3s;
}

#login {
    color: white;
    margin-top: 14px;
    background-color: #1FCED1;
    padding: 10px 22px;
    transition: 0.3s;
}

#login:hover {
    background-color: #04b8bb;
}

#logo {
    margin-top: 6px;
    margin-left: 4.8%;
    width: 100px;
}

#logo:hover {
    opacity: 0.8;
}

#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
}

.mobile-nav-link {
    display: none;
}

section {
    margin: auto;
    text-align: center;
    overflow-y: hidden;
}

#page-title {
    font-size: 100px;
}

#page-title-section {
    width: 500px;
    max-width: 95%;
    margin: 100px auto 20px;
}

/* #page-title-section p {
    margin-bottom: 20px;
} */

#course-filter-section {
    margin-top: 0px;
    margin-bottom: 20px;
}

.filter-courses-button {
    color: #1FCED1;
    width: auto;
    padding: 0.5em 1em;
    margin: 10px;
    display: inline-block;
    outline: 1.5px;
    outline-style: solid;
    outline-color: #1FCED1;
    font-weight: 800;
    margin-top: 1em;
    transition: 0.3s;
    cursor: pointer;
}

.filter-courses-button:hover {
    color: #04b8bb;
    outline-color: #04b8bb;
    background-color: #b6eded;
    transition: 0.3s;
}

#course-section {
    text-align: center;
}

.course {
    margin-bottom: 30px;
    border: 1px solid #c9c8d3;
    width: 660px;
    max-width: 95%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: left;
}

.course-title-nrt-logo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.course-title-container {
    display: inline-block;
    width: 500px;
}


.course-new-text {
    color: #FC53A5;
    display: inline-block;
    margin-bottom: -4px;
    font-weight: 700;
}

.course-code {
    display: inline-block;
    margin-bottom: -4px;
}

.course-certificate-text {
    margin-top: 0px;
    font-size: 24px;
}

.course-name {
    margin-top: -8px;
    font-size: 32px;
}

.nrt-logo {
    display: inline-block;
    margin-top: -4px;
    width: 135px;
    margin-top: 0px;
    margin-left: 30px;
}

.course-description {
    display: block;
}

.learn-more {
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #1FCED1;
    transition: 0.3s;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #04b8bb;
}

.download-brochure {
    font-weight: 700;
    color: #1FCED1;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    transition: 0.2;
    margin-bottom: 10px;
}

.download-brochure:hover {
    color: #04b8bb;
}


footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #272633;
    color: white;
    text-align: center;
}

footer h3, footer p, footer div a {
    color: white;
    margin: auto;
    max-width: 95%;
    margin-bottom: 15px;
}

#footer-logo-white {
    width: 200px;
}

#footer-RTO-number {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.65;
}

#footer-link-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-link-column {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    vertical-align: top;
    min-width: 120px;
}

.footer-link-child {
    display: block;
    font-size: 14px;
    color: #c9c8d3;
    margin-top: 10px;
    font-weight: 300;
}

footer a:hover {
    color: #1FCED1;
}

.social-media-logo-link {
    margin: 1em;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {


@media only screen and (max-width: 800px) {
    #logo {
        width: 80px;
        margin-top: 13px;
    }

    .nav-link {
        margin-right: 20px;
        font-size: 15px;
    }

    #meet-alffie {
        width: 95%;
    }

    #meet-alffie p {
        width: 95%;
    }

    .video-container {
        width: 95%;
    }

    #covid-19 {
        width: 90%;
    }

    #footer-link-container {
        width: 530px;
    }
}

@media only screen and (max-width: 768px) {

    #top-image-xxl {
        display: none;
    }

    #top-image-768px {
        width: 100%;
        z-index: -1;
        display: block;
    }

    #top-image-text-container {
        width: 90%;
        height: 100%;
    }

    #top-image-text-container-768px {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    #top-image-text-768px {
        display: inline-block;
        color: white;
        font-size: 2.35vw;
        font-size: 25px;
        line-height: 1.25;
        font-weight: 800;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
        height: 75px;
        margin-bottom: 0;
    }

    #NRT-logo-768px {
        display: inline-block;
        width: 85px;
        vertical-align: top;
    }

    #NRT-logo-xxl {
        display: none;
    }

    .big-button {
        font-size: 15px;
    }

    #top-image-new, .top-image-h3, .top-image-h1 {
        display: none;
    }

    #dot-container {
        width: 350px;
    }

    .dot {
        height: 8px;
        width: 8px;
    }

    #footer-link-container {
        width: 500px;
        margin: auto;
    }
}

@media only screen and (max-width: 660px) {

    #feature-container {
        width: 360px;
        margin-top: 0;
    }

    .feature {
        height: auto;
        margin-top: 40px;
        width: auto;
    }

    .feature-vertical-divider-line {
        display: none;
    }

    #dot-container {
        width: 300px;
    }

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h2 i {
        font-size: 23px;
        font-weight: 900;
    }
    
    .course-feature-title, h4 {
        font-size: 17px;
    }

    p, .course-code, .course-new  {
        font-size: 15px;
    }

    #alert-above-nav p{
        font-size: 12px;
    }
    
    nav {
        display: none;
    }

    #mobile-nav {
        padding: 5px 5%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        border-bottom: 1px solid #c9c8d3;
        width: 100%;
        background-color: white;
    }

    #mobile-menu-button {
        width: 50px;
        display: inline-block;
        cursor: pointer;
        margin-top: 18px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #mobile-menu-button:hover .menu-button-line{
        background-color: #1FCED1;
        transition: 0.2s; 
    }

    #mobile-menu-button:focus .menu-button-line{
        background-color: #595766;
    }

    #mobile-menu-button div {
        height: 5px;
    }

    .menu-button-line {
        background-color: #595766;
    }

    #mobile-logo {
        width: 100px;
        display: inline;
        overflow: hidden;
    }

    #mobile-login {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        display: inline;
        color: white;
        background-color: #1FCED1;
        padding: 6px 15px;
        height: 37px; 
        margin-top: 11px;
        flex-direction: column;
    }

    #mobile-login:hover {
        background-color: #04b8bb;
    }

    #mobile-menu {
        width: 100%;
        background-color: white;
        padding-bottom: 15px;
        flex-direction: column;
        display: none;
        border-bottom: 1px solid #c9c8d3;
        }

    .mobile-nav-link {
        display: inline;
        color: black;
        margin-top: 15px;
        margin-left: 5%;
        margin-right: auto;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        width: auto;
    }

    .mobile-nav-link:hover {
        color: #1FCED1;
    }

    #top-image-text-768px {
        font-size: 20px;
        font-size: 4.2vw;
        height: 100%;
        width: 75%;
        margin-bottom: 10px;
    }

    #top-image-768px {
        display: none;
    }

    #top-image-576px {
        width: 100%;
        z-index: -1;
        display: block;
    }

    #NRT-logo-768px {
        width: 70px;
        margin-top: -15px;
    }

    .big-button {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        padding: 7px 14px;
    }

    #dot-container {
        width: 280px;
    }

    .dot {
        height: 7px;
        width: 7px;
    }

    #footer-logo-white {
        width: 150px;
    }

    footer a {
        font-size: 16px;
        margin: 10px;
    }

    #footer-link-container {
        max-width: 95%;
    }
    
    .footer-link-column:nth-child(2)  {
        margin-left: 20px;
    }
}