* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: whitesmoke;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

p{
    color: #595766;
    margin-top: 0px;
}

section {
    padding-top: 250px;
}

#login-form {
    padding-top: 300px;
    margin: auto;
    margin-bottom: 150px;
    max-width: 400px;
    background-color: white;
    padding: 30px;
}

#alffie-logo {
    width: 150px;
    margin-left: -5px;
    margin-bottom: 20px;
}

.email-password-label {
    font-weight: 700;
}


.email-password-input {
    display: block;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    transition: 0.2s;
    outline:none;
    background-color:  #b6eded;
    border: none;
}

.email-password-input:focus {
    border: 1.5px solid #1FCED1;
    outline:none;
}

#password-label {
    margin-top: 30px;
}

#show-password-checkbox {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#show-password-label {
    display: inline-block;
}

label {
    margin-top: 0;
    display: inline-block;
}

#login-button {
    display: block;
    width: auto;
    margin-top: 30px;
    background-color: #1FCED1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
    transition: 0.2s;
}

#login-button:hover {
    background-color:  #04b8bb;
}

#forgot-your-password {
    display: block;
    margin-top: 15px;
    color: #1FCED1;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

#forgot-your-password:hover {
    color: #04b8bb;
    text-decoration: underline;
}

@media only screen and (max-width: 576px) {
   
    p  {
        font-size: 15px;
    }
}