* {
    box-sizing: border-box;
    overflow-x: hidden; /* This removes extra space to the right of elements through mobile viewports */
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    text-decoration: none;
  }
  
  body {
      background-color: white;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
  }

/* ================================= 
  Colors
==================================== */
  /*    Aqua #1FCED1;
        Aqua hover #04b8bb;
        Fuchsia ##FC53A5;
   */

h1, h2, h3, h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44px;
    margin-bottom: 0em;
    font-weight: 700;
}

h1 i {
    font-weight: 800;
}

h2 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 i {
    font-size: 30px;
    font-weight: 800;
}

h3 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
}

h3 i {
    font-weight: 800;
    font-size: 20px;
}

h4 {
    line-height: 1.25em;
    overflow-y: hidden;
}

p, ul{
    color: #595766;
    margin-top: 0px;
}

li {
    display: list-item;
    margin-top: 5px;
    list-style-type: armenian;
}

section {
    margin: auto;
    text-align: left;
    overflow-y: hidden;
    max-width: 90%;
}

#page-title {
    font-size: 100px;
}

#page-title-section {
    margin-top: 120px;
    width: 700px;
}

#page-title-section p {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

#purpose-mission-section {

}

.purpose-mission {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

#about-feature-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-feature {
    display: inline-block;
    width: 300px;
    margin: 20px;
    vertical-align: top;
}

#who-we-serve-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.industry {
    display: inline-block;
    width: 550px;
    margin: 20px;
    vertical-align: top;
}

@media only screen and (max-width: 660px) {
    h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h2 i {
        font-size: 23px;
        font-weight: 900;
    }
    
    h4 {
        font-size: 17px;
    }

    p  {
        font-size: 15px;
    }
}